<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>창업 지역 추천</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link href="/assets/css/tailwind.output.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
    <link rel="stylesheet" type="text/css" href="/css/seoul/totalAnalysis.css">
    <link rel="stylesheet" type="text/css" href="/css/seoul/locationAnalysis.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="/assets/js/init-alpine.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        // Controller에서 받은 값
        // 서울 전체의 업종 전체 매출액
        const salesList = [[${salesList}]];
        const storeList = [[${storeList}]];
        const ageList = [[${ageList}]];
        const genderList = [[${genderList}]];
        const timeList = [[${timeList}]];
        const salesRateList = [[${salesRateList}]];
        const pDTO = [[${pDTO}]];

        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <div class = "bodyTitle">
        <h2 class="totalAnalysisTitle">창업 지역 추천</h2>
        <h4 class="indutyAndLocation" th:text="'2023년 3분기 | ' + ${pDTO.indutyNm()}"></h4>
    </div>

    <hr>

    <p class="selectText">분석 선택</p>
    <div class="sortList">
        <div class="listSort" id="defaultListClicked">
            <img src="/img/seoul/sales.png" alt="sales"/>
            매출액
        </div>
        <div class="listSort">
            <img src="/img/seoul/salesRate.png" alt="rate"/>
            매출률
        </div>
        <div class="listSort">
            <img src="/img/seoul/store.png" alt="store"/>
            점포수
        </div>
        <div class="listSort">
            <img src="/img/seoul/age.png" alt="age"/>
            나이대
        </div>
        <div class="listSort">
            <img src="/img/seoul/gender.png" alt="gender"/>
            성별
        </div>
        <div class="listSort">
            <img src="/img/seoul/time.png" alt="time"/>
            시간대
        </div>
    </div>

    <div class="dashBoard" style="height: auto">
        <div class="divThree" id="btnBnav2">
            <div class="comment_inline indutyList gold-border" id = "rank1">
                <p id = "rank1Number"></p>
                <p class="title" id = "rank1LocationName"></p>
                <p id = "rank1Content"></p>
            </div>
            <div class="comment_inline indutyList silver-border" id = "rank2">
                <p class="title" id = "rank2Number"></p>
                <p id = "rank2LocationName"></p>
                <p id = "rank2Content"></p>
            </div>
            <div class="comment_inline indutyList bronze-border" id = "rank3">
                <p class="title" id = "rank3Number"></p>
                <p id = "rank3LocationName"></p>
                <p id = "rank3Content"></p>
            </div>
        </div>

        <hr class="divContent">

        <div class="map" style="height: 800px" id ="map_div">
            나중에 맵 추가 예정
        </div>

    </div>

    <div class="buttonLine">
        <button
                id="btnTotalAnalysis"
                class="flex items-left justify-between w-1/10 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                type="button"
        >
            <div class="w-full">
                <span class="px-4 py-3 text-sm font-semibold">종합 분석</span>
                <span class="ml-2" aria-hidden="true"></span>
            </div>

        </button>
        <button
                id="btnCloseWindow"
                class="flex items-left justify-between w-1/10 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                type="button"
        >
            <div class="w-full">
                <span class="px-4 py-3 text-sm font-semibold">창 닫기</span>
                <span class="ml-2" aria-hidden="true"></span>
            </div>

        </button>
    </div>

</div>
</body>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=afb7f9da685154e4de522b7c462eddc1"></script>
<script src="/js/seoul/locationAnalysis.js"></script>
</html>