<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>창업 지역 추천</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link href="/assets/css/tailwind.output.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
    <link rel="stylesheet" type="text/css" href="/css/seoul/totalAnalysis.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="/assets/js/init-alpine.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        // Controller에서 받은 값
        // 서울 전체의 업종 전체 매출액
        const salesList = [[${salesList}]];
        const storeList = [[${storeList}]];
        const ageList = [[${ageList}]];
        const genderList = [[${genderList}]];
        const timeList = [[${timeList}]];
        const salesRateList = [[${salesRateList}]];
        const pDTO = [[${pDTO}]];

        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <div class = "bodyTitle">
        <h2 class="totalAnalysisTitle">창업 지역 추천</h2>
        <h4 class="indutyAndLocation" th:text="'2023년 3분기 | ' + ${tDTO.indutyNm()}"></h4>
    </div>

    <hr>

    <div class="dashBoard">
        <div class="divThree" id="btnBnav2">
            <div class="comment_inline indutyList red-border" id = "rank1">
                <p class="title" id = "rank1LocationName"></p>
                <p id = "salesQuarter"></p>
                <p id = "salesRateQuarter"></p>
            </div>
            <div class="comment_inline indutyList blue-border" id = "rank2">
                <p class="title" id = "rank2LocationName"></p>
                <p id = "storeQuarter"></p>
                <p id = "storeRateQuarter"></p>
            </div>
            <div class="comment_inline indutyList green-border" id = "rank3">
                <p class="title" id = "rank3LocationName"></p>
                <p id = "closeQuarter"></p>
                <p id = "closeRateQuarter"></p>
            </div>
        </div>

        <hr class="divContent">

        <div class="map" id ="map_div">
            나중에 맵 추가 예정
        </div>

    </div>

</div>
</body>
<script src="/js/seoul/locationAnalysis.js"></script>
</html>