<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link href="/assets/css/tailwind.output.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="/assets/js/init-alpine.js"></script>
</head>
<body>
    <table class="w-full whitespace-no-wrap">
            <thead>
                <tr
                        class="text-xs font-semibold tracking-wide text-left text-white uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                >
                    <th class="px-4 py-3 td-title-bg">업종명</th>
                    <th class="px-4 py-3 td-title-bg">업종코드</th>
                    <th class="px-4 py-3 td-title-bg">매출액</th>
                    <th class="px-4 py-3 td-title-bg">매출액 증가율</th>
                </tr>
            </thead>
            <tbody
                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
            >
                <tr th:each="dto : ${rSalesList}" class="text-gray-700 dark:text-gray-400 tr-bg"
                >

                    <td class="px-4 py-3 seq" th:text="${dto.indutyNm()}">
                    </td>

                    <td class="px-4 py-3 seq" th:text="${dto.indutyCd()}">
                    </td>

                    <td class="px-4 py-3 seq" th:text="${dto.monthSales()}">
                    </td>

                    <td class="px-4 py-3 seq" th:text="'(' + ${dto.salesDiff()} + ')' + ${dto.salesRate()} + '% up !'">
                    </td>

                </tr>
            </tbody>
    </table>

    <table class="w-full whitespace-no-wrap">
        <thead>
        <tr
                class="text-xs font-semibold tracking-wide text-left text-white uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
            <th class="px-4 py-3 td-title-bg">업종명</th>
            <th class="px-4 py-3 td-title-bg">업종코드</th>
            <th class="px-4 py-3 td-title-bg">점포수</th>
            <th class="px-4 py-3 td-title-bg">점포수 증가율</th>
        </tr>
        </thead>
        <tbody
                class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
        >
        <tr th:each="dto : ${rStoreList}" class="text-gray-700 dark:text-gray-400 tr-bg"
        >

            <td class="px-4 py-3 seq" th:text="${dto.indutyNm()}">
            </td>

            <td class="px-4 py-3 seq" th:text="${dto.indutyCd()}">
            </td>

            <td class="px-4 py-3 seq" th:text="${dto.storeCount()}">
            </td>

            <td class="px-4 py-3 seq" th:text="'(' + ${dto.storeDiff()} + ')' + ${dto.storeRate()} + '% up !'">
            </td>

        </tr>
        </tbody>
    </table>

    <table class="w-full whitespace-no-wrap">
        <thead>
        <tr
                class="text-xs font-semibold tracking-wide text-left text-white uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
            <th class="px-4 py-3 td-title-bg">업종명</th>
            <th class="px-4 py-3 td-title-bg">업종코드</th>
            <th class="px-4 py-3 td-title-bg">폐업수</th>
            <th class="px-4 py-3 td-title-bg">폐업수 증가율</th>
        </tr>
        </thead>
        <tbody
                class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
        >
        <tr th:each="dto : ${rStoreCloseList}" class="text-gray-700 dark:text-gray-400 tr-bg"
        >

            <td class="px-4 py-3 seq" th:text="${dto.indutyNm()}">
            </td>

            <td class="px-4 py-3 seq" th:text="${dto.indutyCd()}">
            </td>

            <td class="px-4 py-3 seq" th:text="${dto.closeStoreCount()}">
            </td>

            <td class="px-4 py-3 seq" th:text="'(' + ${dto.closeStoreDiff()} + ')' + ${dto.closeStoreRate()} + '% up !'">
            </td>

        </tr>
        </tbody>
    </table>
</body>
</html>