<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>종합 분석</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
    <link rel="stylesheet" type="text/css" href="/css/seoul/totalAnalysis.css">
    <script th:inline="javascript">
        /*<![CDATA[*/

        // Controller에서 받은 값
        // 서울 전체의 업종 전체 매출액
        const seoulList = [[${seoulList}]];
        // 서울 전체의 선택 업종 매출액
        const seoulIndutyList = [[${seoulIndutyList}]];
        // 선택 지역(구)의 선택 업종 매출액
        const guList = [[${guList}]];
        // 지역별 비중 매출액
        const sortedList = [[${sortedList}]];

        /*]]>*/
    </script>
</head>
<body>
<div class="container">
    <div class = "bodyContent">
        <h2 class="totalAnalysisTitle">업종 종합 분석</h2>
        <h3 class="indutyAndLocation" th:text="'2023년 3분기 | ' + ${pDTO.seoulLocationNm()} + ' 지역 | ' + ${pDTO.indutyNm()}"></h3>
    </div>

    <hr>

    <div class="dashBoard">
        <section class="divThree" id="btnBnav2">
                    <div class="comment_inline indutyList red-border" id = "quarterSales">
                        <p class="title">매출액</p>
                        <p id = "salesQuarter"></p>
                        <p id = "salesDiffQuarter"></p>
                        <p id = "salesRateQuarter"></p>
                    </div>
                    <div class="comment_inline indutyList blue-border" id = "quarterStore">
                        <p class="title">점포수</p>
                        <p id = "storeQuarter"></p>
                        <p id = "storeDiffQuarter"></p>
                        <p id = "storeRateQuarter"></p>
                    </div>
                    <div class="comment_inline indutyList green-border" id = "quarterClose">
                        <p class="title">폐업수</p>
                        <p id = "closeQuarter"></p>
                        <p id = "closeDiffQuarter"></p>
                        <p id = "closeRateQuarter"></p>
                    </div>
        </section>
        <div class="chart">
            <h3 class="chart-header">매출액 추이 분석</h3>
            <div class="chart-body">
                <div id="legend-div" class="legend-div"></div>
                <canvas id="myAreaChart" width="100%" height="30"></canvas>
            </div>
        </div>
    </div>
</div>
</body>
<!--<body>
    <div>매출액</div>
    <div id = "sales" onchange="userIdFunc"></div>
    <div>점포수</div>
    <div id = "store"></div>
    <div>폐업수</div>
    <div id = "close"></div>
    <div>서울 전체에서 업종 전체 매출액</div>
    <tr th:each="dto : ${seoulList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(dto.monthSales(), 1, 2)}">
        </td>
    </tr>

    <br>

    <div>서울 전체에서의 선택 업종 매출액</div>
    <tr th:each="dto : ${seoulIndutyList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(dto.monthSales(), 1, 2)}">
        </td>
    </tr>

    <br>

    <div>선택 지역(구)의 선택 업종 매출액</div>
    <tr th:each="dto : ${guList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(dto.monthSales(), 1, 2)}">
        </td>
    </tr>

    <div>선택 지역(구)의 선택 업종 점포수</div>
    <tr th:each="dto : ${guList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(dto.storeCount(), 1, 2)}">
        </td>
    </tr>

    <div>선택 지역(구)의 선택 업종 폐업수</div>
    <tr th:each="dto : ${guList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(dto.closeStoreCount(), 1, 2)}">
        </td>
    </tr>

    <br>

    <div>지역 별 매출액 비중</div>
    <tr th:each="dto : ${sortedList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${dto.indutyNm()}">
        </td>
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(dto.monthSales(), 1, 2)}">
        </td>
    </tr>



    <div>나이대 별 매출액 비중</div>
    <tr class="text-gray-700 dark:text-gray-400 tr-bg">
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(guList.get(guList.size()-1).age10Sales(), 1, 2)}">
        </td>
    </tr>
    <tr class="text-gray-700 dark:text-gray-400 tr-bg">
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(guList.get(guList.size()-1).age20Sales(), 1, 2)}">
        </td>
    </tr>
    <tr class="text-gray-700 dark:text-gray-400 tr-bg">
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(guList.get(guList.size()-1).age30Sales(), 1, 2)}">
        </td>
    </tr>
    <tr class="text-gray-700 dark:text-gray-400 tr-bg">
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(guList.get(guList.size()-1).age40Sales(), 1, 2)}">
        </td>
    </tr>
    <tr class="text-gray-700 dark:text-gray-400 tr-bg">
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(guList.get(guList.size()-1).age50Sales(), 1, 2)}">
        </td>
    </tr>
    <tr class="text-gray-700 dark:text-gray-400 tr-bg">
        <td class="px-4 py-3 seq" th:text="${#numbers.formatDecimal(guList.get(guList.size()-1).age60Sales(), 1, 2)}">
        </td>
    </tr>
</body>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js" integrity="sha512-QEiC894KVkN9Tsoi6+mKf8HaCLJvyA6QIRzY5KrfINXYuP9NxdIkRQhGq3BZi0J4I7V5SidGM3XUQ5wFiMDuWg==" crossorigin="anonymous"></script>
<script src="/js/seoul/totalAnalysis.js"></script>
</html>