<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>종합 분석</title>
</head>
<body>
    <tr th:each="dto : ${seoulList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${dto.monthSales()}">
        </td>
    </tr>

    <tr th:each="dto : ${guList}"
        class="text-gray-700 dark:text-gray-400 tr-bg"
    >
        <td class="px-4 py-3 seq" th:text="${dto.monthSales()}">
        </td>
    </tr>
</body>
</html>