<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정하기</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link href="/assets/css/tailwind.output.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/init-alpine.js"></script>
    <script src="/js/notice/noticeEditInfo.js"></script>
    <script src="/js/home/nav.js"></script>
    <script type="text/javascript">
        let noticeCheck = false;
        const SS_USER_ID = [[${session.SS_USER_ID}]];
        const user_id = [[${rDTO.userId}]];

        if (SS_USER_ID==null || !(SS_USER_ID.length > 0)) {
            alert("로그인 해주세요.");
            location.href = "/user/login";
        }
    </script>
</head>
<body>
<!-- 여기서부터 게시글 정보 -->

    <div class="flex flex-col flex-1 w-full">
        <main class="h-full pb-16 overflow-y-auto">
            <div class="container grid px-6 mx-auto">
                <hr>
                <h2
                        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                >
                    게시글 수정
                </h2>
                <hr>
                <form name="f" id="f">

                    <input type="hidden" name="nSeq" th:value="${rDTO.noticeSeq()}"/>
                    <div class="px-4 py-3 mb-8 bg-white rounded-lg shadow-md dark:bg-gray-800">
                        <label class="block text-sm">
                            <span class="text-gray-700 dark:text-gray-400">제목</span>
                            <input class="block w-full mt-1 text-sm dark:border-gray-600 dark:bg-gray-700 focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:text-gray-300 dark:focus:shadow-outline-gray form-input" type="text" name="title" placeholder="제목을 입력해주세요." th:value="${rDTO.title()}">
                        </label>

                        <label class="block mt-4 text-sm">
                            <textarea class="block w-full mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray" name="contents" style="height: 400px" rows="3" placeholder="본문 내용을 입력해주세요." th:text="${rDTO.contents()}"></textarea>
                        </label>
                    </div>


                    <!-- 기능 버튼 2개-->
                    <div class="flex space-x-1">
                        <div class="px-6 my-6">
                            <button
                                    id="btnEdit"
                                    class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    type="button"
                            >
                                <div class="w-full">
                                    <span class="px-4 py-3 text-sm font-semibold">수정</span>
                                    <span class="ml-2" aria-hidden="true">+</span>
                                </div>
                            </button>
                        </div>
                        <div class="px-6 my-6">
                            <button
                                    class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    type="reset"
                            >
                                <div class="w-full">
                                    <span class="px-4 py-3 text-sm font-semibold" >다시 작성</span>
                                    <span class="ml-2" aria-hidden="true">@</span>
                                </div>
                            </button>
                        </div>
                        <div class="px-6 my-6">
                            <button
                                    id="btnInfo"
                                    class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    type="button"
                            >
                                <div class="w-full">
                                    <span class="px-4 py-3 text-sm font-semibold" >돌아가기</span>
                                    <span class="ml-2" aria-hidden="true"><</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
</body>
</html>

