<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>게시글 상세보기</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link href="/assets/css/tailwind.output.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
    <link rel="stylesheet" type="text/css" href="/css/notice/comment.css">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/init-alpine.js"></script>
    <script src="/js/notice/noticeInfo.js"></script>
    <script src="/js/home/nav.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const session_user_id = [[${session.SS_USER_ID}]]; // Controller에서 받은 세션에 저장된 값
        const user_id = [[${rDTO.userId}]]; // 공지사항 게시글 작성자 아이디
        const nSeq = [[${rDTO.noticeSeq}]]; // 현재 글번호, 자바에서 받을 변수들은 자바스크립트 변수로 저장하면 편함
        const textContent = [[${rDTO.contents()}]];
        const cList = [[${cList}]];

        /*]]>*/
    </script>
</head>
<body>


<div class="menu-btn">
    <i style="font-size:24px" class="fa">&#xf0c9;</i>
</div>

<div class="container">
    <!-- Nav -->
    <nav class="main-nav">
        <a href="/html/index"><img src="/img/index/bnavLogo.png" alt="Bnav" class="logo"></a>

        <ul class="right-menu">

            <ul class="main-menu">
                <li id="btnBnav"><p><a>시장분석</a></p></li>
                <li id="btnNotice"><p><a>창업자 게시판</a></p></li>
                <li id="mainMypage" th:if="${session.SS_USER_ID}"><p><a>마이페이지</a></p></li>
                <li id="mainLogOut" th:if="${session.SS_USER_ID}"><p><a>로그아웃</a></p></li>
            </ul>

            <p th:if="${session.SS_USER_ID}">
                <button class="signup in_button" type="button" th:text="${session.SS_USER_ID} + '님 환영합니다.'">
                </button>
            </p>

            <li th:unless="${session.SS_USER_ID}">
                <button id = "mainLogin" class="signup in_button" type="button" th:text="'로그인/회원가입'"></button>
            </li>

        </ul>
    </nav>

    <!-- 게시글 상세보기 -->
    <div class="flex flex-col flex-1 w-full">
        <main class="h-full pb-16 overflow-y-auto">
            <div class="container grid px-6 mx-auto">
                <h2
                        class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
                >
                    게시글 상세
                </h2>

                <!-- With actions -->
                <h4
                        class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"
                >
                </h4>

                <div class="w-full overflow-hidden rounded-lg shadow-xs">
                    <div class="w-full overflow-x-auto">
                        <div class="w-full whitespace-no-wrap">

                                <!-- 제목 라인-->
                                <div
                                        class="tr-title-bg py-3 font-semibold tracking-wide text-left text-white border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800" style="background-color: #000000"
                                >
                                        <span class="px-4 py-3 td-title-bg" th:text="제목"></span>
                                        <span class="px-4 py-3 text-sm td-title-bg" name = "noticeSeq" th:text="${rDTO.noticeSeq()}"></span>
                                        <span class="px-4 py-3 td-title-bg" stlye="float: left" th:text="${rDTO.title()}"></span>
                                </div>

                                <!-- 작성자, 조회수, 작성일 -->
                                <div class="px-4 py-3">
                                    <span class="px-4 py-3 text-sm left-align font-semibold" th:text="${rDTO.userId()}"></span>
                                    <span style="float: right;">
                                        <span class="px-4 py-3 text-sm" th:text="'조회수'"></span>
                                        <span class="px-4 py-3 text-sm" th:text="'|'"></span>
                                        <span class="px-4 py-3 text-sm" style="background-color: #f0f0f0;" th:text="${rDTO.readCnt()}"></span>
                                        <span class="px-4 py-3 text-sm"  th:text="'작성일'"></span>
                                        <span class="px-4 py-3 text-sm" th:text="'|'"></span>
                                        <span class="px-4 py-3 text-sm" style="background-color: #f0f0f0;" th:text="${rDTO.regDt()}"></span>
                                    </span>
                                </div>

                            <div
                                    class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                            >
                            <div>
                            </div>
                            <div>
                                <div class="px-4 py-3" style="width : 100%; height: 400px;  vertical-align: top;" id = "textContent">
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <h5
                            class="my-3 text-xl font-semibold text-gray-700 dark:text-gray-200 comment-name"
                    >
                        댓글
                    </h5>
                    <hr>
                    <ul id="comments-list" class="comments-list">
                        <li th:each="dto : ${cList}">
                            <div class="comment-box" th:id="'comment'+${dto.commentSeq()}">
                                <div class="comment-head">
                                    <h6 class="comment-name by-user" name="cUserId" th:text="${dto.userId()}"></h6>
                                    <div class="commentSeq-invisible" name="commentSeq" th:text="${dto.commentSeq()}"></div>
                                    <div class="comment-right">
                                        <span class="func-inline" name="ChgDt" th:text="${dto.commentChgDt()}"></span>
                                        <div  class="func-inline" th:if="${session.SS_USER_ID}==${dto.userId()}">
                                            <span class="comment_edit" th:id = "'comment_edit'+${dto.commentSeq()}" th:onclick="doCEdit([[${dto.commentSeq()}]])">수정</span>
                                            <span class="comment-del" th:id = "'comment-del' +${dto.commentSeq()}" th:onclick="doCDel([[${dto.commentSeq()}]])">삭제</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-content" th:id = "'commentContent' +${dto.commentSeq()}"  name="commentContent">
                                </div>
                            </div>
                        </li>
                    </ul>


                    <hr>
                    <div class="comment" th:if="${session.SS_USER_ID}">
                        <label class="commentLabel block mt-4 text-sm">
                            <textarea class="block mt-1 text-sm dark:text-gray-300 dark:border-gray-600 dark:bg-gray-700 form-textarea focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray commentInline" id="cContent" name="content" style="height: 60px; width : 750px" rows="3" placeholder="댓글 내용을 입력해주세요."></textarea>
                                <div class="px-6 my-4 commentInline">
                                    <button
                                            id="btnCInst"
                                            class="commentButton items-left w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                            type="button"
                                    >
                                        <div class="w-full">
                                            <span class="px-4 py-3 text-sm font-semibold">댓글 쓰기</span>
                                            <span class="ml-2" aria-hidden="true">+</span>
                                        </div>
                                    </button>
                                </div>
                        </label>
                    </div>


                    <!-- 동작 버튼 3개 -->
                    <div class="flex space-x-1">
                        <div th:if="${session.SS_USER_ID}==${rDTO.userId()}" class="px-6 my-6">
                            <button
                                    id="btnEdit"
                                    class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    type="button"
                            >
                                <div class="w-full">
                                    <span class="px-4 py-3 text-sm font-semibold">수정</span>
                                    <span class="ml-2" aria-hidden="true">*</span>
                                </div>
                            </button>
                        </div>
                        <div th:if="${session.SS_USER_ID}==${rDTO.userId()}" class="px-6 my-6">
                            <button
                                    id="btnDelete"
                                    class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    type="button"
                            >
                                <div  class="w-full">
                                    <span class="px-4 py-3 text-sm font-semibold" >삭제</span>
                                    <span class="ml-2" aria-hidden="true">-</span>
                                </div>
                            </button>
                        </div>
                        <div class="px-6 my-6">
                            <button
                                    id="btnList"
                                    class="flex items-left justify-between w-1/15 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    type="button"
                            >
                                <div class="w-full">
                                    <span class="px-4 py-3 text-sm font-semibold">목록</span>
                                    <span class="ml-2" aria-hidden="true">=</span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>

