<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>창업자 게시판</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
            rel="stylesheet"
    />
    <link href="/assets/css/tailwind.output.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/css/home/index.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <script src="/assets/js/init-alpine.js"></script>
    <script src="/js/notice/noticeList.js"></script>
    <script src="/js/home/nav.js"></script>

    <!-- Rest of your HTML content goes here -->
</head>
<body>

<div class="menu-btn">
    <i style="font-size:24px" class="fa">&#xf0c9;</i>
</div>

<div class="container">
    <!-- Nav -->
    <nav class="main-nav">
        <a href="/html/index"><img src="/img/index/bnavLogo.png" alt="Bnav" class="logo"></a>

        <ul class="right-menu">

            <ul class="main-menu">
                <li id="btnBnav"><p><a>시장분석</a></p></li>
                <li id="btnNotice"><p><a>창업자 게시판</a></p></li>
                <li id="mainMypage" th:if="${session.SS_USER_ID}"><p><a>마이페이지</a></p></li>
                <li id="mainLogOut" th:if="${session.SS_USER_ID}"><p><a>로그아웃</a></p></li>
            </ul>

            <p th:if="${session.SS_USER_ID}">
                <button class="signup in_button" type="button" th:text="${session.SS_USER_ID} + '님 환영합니다.'">
                </button>
            </p>

            <li th:unless="${session.SS_USER_ID}">
                <button id="mainLogin" class="signup in_button" type="button" th:text="'로그인/회원가입'"></button>
            </li>

        </ul>
    </nav>

    <div
            class="flex h-screen bg-gray-50 dark:bg-gray-900"
            :class="{ 'overflow-hidden': isSideMenuOpen}"
    >

        <div class="flex flex-col flex-1 w-full">
            <main class="h-full pb-16 overflow-y-auto">
                <div class="container grid px-6 mx-auto">
                    <h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
                        창업자 게시판
                    </h2>

                    <!-- With actions -->
                    <h4 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300"></h4>
                    <div class="w-full overflow-hidden rounded-lg shadow-xs">
                        <div class="w-full overflow-x-auto">
                            <div class="w-full whitespace-no-wrap">
                                <div>
                                    <div
                                            class="td-title-bg py-3 text-xs font-semibold tracking-wide text-left text-white uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800 flex" style="padding-top: 0px; padding-bottom: 0px;"
                                    >
                                        <span class="flex-1 px-4 py-3 td-title-bg flex-1">글번호</span>
                                        <span class="flex-1 px-4 py-3 td-title-bg flex-1">제목</span>
                                        <span class="flex-1 px-4 py-3 td-title-bg flex-1">조회수</span>
                                        <span class="flex-1 px-4 py-3 td-title-bg flex-1">등록자</span>
                                        <span class="flex-1 px-4 py-3 td-title-bg flex-1">등록일</span>
                                    </div>
                                </div>
                                <!--<div
                                        class="py-3 bg-white divide-y dark:divide-gray-700 dark:bg-gray-800 tr-bg"
                                >-->
                                    <div th:each="dto : ${rList}" th:onclick="doDetail([[${dto.noticeSeq}]])"
                                        class="py-3 bg-white dark:divide-gray-700 dark:bg-gray-800 tr-bg flex" style="padding-top: 0px; padding-bottom: 0px; border-bottom: 1px solid lightgrey;"
                                    >

                                        <span class="flex-1 px-4 py-3 seq flex-1" th:text="${dto.noticeSeq}">
                                        </span>

                                        <span class="flex-1 px-4 py-3 seq flex-1" th:text="${dto.title}">
                                        </span>

                                        <span class="flex-1 px-4 py-3 seq flex-1" th:text="${dto.readCnt}">
                                        </span>

                                        <span class="flex-1 px-4 py-3 seq flex-1" th:text="${dto.userId}">
                                        </span>

                                        <span class="flex-1 px-4 py-3 seq flex-1" th:text="${dto.regDt}">
                                        </span>

                                    </div>
                                <!--</div>-->
                            </div>
                        </div>

                        <div th:if="${session.SS_USER_ID}" class="px-6 my-6 " style="margin-top: 10px; margin-bottom: 10px;">
                            <button
                                    id="btnListReg"
                                    class="flex items-left justify-between w-1/10 px-4 py-2 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple"
                                    type="button"
                            >
                                <div class="w-full">
                                    <span class="px-4 py-3 text-sm font-semibold">글쓰기</span>
                                    <span class="ml-2" aria-hidden="true">+</span>
                                </div>

                            </button>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
</div>
</body>
</html>
