<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/user/newPassword.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/user/login.css">
</head>
<body>
<div id="back">
    <canvas id="canvas" class="canvas-back"></canvas>
    <div class="backLeft">
    </div>
</div>
<div id="slideBox">
    <div class="topLayer">
        <div class="right">
            <div class="content">
                <h2>비밀번호 변경</h2>
                <form id="f" method="post" onsubmit="return false;">
                    <div class="form-element form-stack">
                        <label for="password" class="form-label">비밀번호</label>
                        <input class="in_input" id="password" type="password" name="password">
                    </div>
                    <div class="form-element form-stack">
                        <label for="password2" class="form-label">비밀번호 확인</label>
                        <input class="in_input" id="password2" type="password" name="password2">
                    </div>
                    <div class="form-element form-submit">
                        <button id="btnUpdatePassword" class="login">Update PWD</button>
                        <button id="btnLogin" class="login off" name="signup">Log in</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>