<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/user/searchPassword.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/user/login.css">
    <script type="text/javascript">
        let emailAuthNumber = /*[[${emailAuthNumber}]]*/ "";
    </script>
</head>
<body>
<div id="back">
    <canvas id="canvas" class="canvas-back"></canvas>
    <div class="backLeft">
    </div>
</div>
<div id="slideBox">
    <div class="topLayer">
        <div class="right">
            <div class="content">
                <h2>비밀번호 찾기</h2>
                <form id="f" method="post" onsubmit="return false;">
                    <div class="form-element form-stack">
                        <label for="userId" class="form-label">아이디</label>
                        <input class="in_input" id="userId" type="text" name="userId">
                    </div>
<!--                    <div class="form-element form-stack">
                        <label for="userName" class="form-label">이름</label>
                        <input class="in_input" id="userName" type="text" name="userName">
                    </div>-->
                    <div class="form-element form-stack">
                        <label for="email" class="form-label">이메일</label>
                        <div class="inlineContents">
                            <input class="in_input" id="email" type="email" name="email">
                            <button class="in_button login" id="btnSendAuth" >인증번호 발송</button>
                        </div>
                    </div>
                    <div class="form-element form-stack">
                        <label for="authNumber" class="form-label">인증번호 확인</label>
                        <div class="inlineContents">
                            <input class="in_input" id="authNumber" type="text" name="authNumber">
                            <button class="in_button login" id="btnAuth" >인증번호 확인</button>
                        </div>
                    </div>
                    <div class="form-element form-submit">
                        <button id="btnSearchPassword" class="login">Search PWD</button>
                        <button id="btnLogin" class="login off" name="signup">Log in</button>
                        <button id="btnMain" class="login off" name="signup">Main</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>