<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<table class="w-full whitespace-no-wrap">
    <thead>
    <tr
            class="text-xs font-semibold tracking-wide text-left text-white uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
    >
        <th class="px-4 py-3 td-title-bg">업종명</th>
        <th class="px-4 py-3 td-title-bg">업종코드</th>
        <th class="px-4 py-3 td-title-bg">매출액</th>
        <th class="px-4 py-3 td-title-bg">매출액 증가율</th>
    </tr>
    </thead>
    <tbody
            class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
    >
    <tr th:each="dto : ${rList}" class="text-gray-700 dark:text-gray-400 tr-bg"
    >

        <td class="px-4 py-3 seq" th:text="${dto.indutyNm()}">
        </td>

        <td class="px-4 py-3 seq" th:text="${dto.indutyCd()}">
        </td>

        <td class="px-4 py-3 seq" th:text="${dto.monthSales()}">
        </td>

        <td class="px-4 py-3 seq" th:text="'(' + ${dto.salesDiff()} + ')' + ${dto.salesRate()} + '% up !'">
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>